<!DOCTYPE html>
<html>
  
  <head>
    
    <meta charset="utf-8">
  <title>Styles Conference</title>
  <link rel="stylesheet" href="../asset/styles/main.css">
    <img src="../asset/media/logo.jpg" width="24"
    height="31"/><br>
   
    <title>Home</title>
  </head>
  
  <body>
    <h1>NorCal Time Trial Series</h1>
    <header>
        <nav>
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>

        </nav>
    </header>
   
    <img src="../asset/media/image3.jpg"width="24"
    height="31">
  
    <section>
    <p>
        <aside>
      <h4>Mission</h4><br>
      To quote http://24hoursoflemons.com/<br>
      "Racing shouldn't just be for rich idiots. Racing should be for all idiots."<br>
      <h4>Vission</h4><br>
      The Norcal Time Trial Series aspires to make the excitement of competitive<br>
      racing events on iconic Northern California racetracks available to all <br>
      enthusiasts without the costs or risks of wheel-to-wheel racing.<br>
      <h4>General Information</h4><br>
      The Norcal Time Trial Series will hold at least one event per month on a <br>
      truch such as Sonoma Raceway, Thunderhill Raceway, or WeatherTech<br>
      Raceway at Laguna Seca. Full safety equipment is required, and your car<br>
      must pass technical inspection before you can compete.<br>
        </aside>
    </p>
    </section>
  </body>
  <style>
    img {
    background: #eaeaed;
    border: 1px solid #9799a7;
    float: left;
    margin: 8px 0 0 20px;
    padding: 4px;
  }
      </style>
     
</html>