<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="../asset/styles/main.css">
</head>

<body>
  <div class="container">
    <div class="nav-header">
      <h1>NorCal Time Trial Series</h1>
      <div class="buttons">
        <div class="square"><a href="home.html">Home</a></div>
        <div class="square"><a href="about.html">About</a></div>
        <div class="square"><a href="contact.html">Contact</a></div>
        <div class="square"><a href="information.html">Information</a></div>
        <div class="square"><a href="rules.html">Rules</a></div>
      </div>
    </div>

    <div class="header-container">
    </div>
    <nav class="navbar">
      <h2>About NCTTS</h2>
    </nav>

    <div class="logo">
      <img src="../asset/media/logo.jpg" height="150" width="150" class="child">
    </div>
    <section>
        <div class="title"><b>Mission</b><br>
        <p>To quote http://24hoursoflemons.com/<br>
        "Racing shouldn't just be for rich idiots. Racing should be for all idiots."</p></div>
        <div class="title"><b>Vission</b><br>
        <p>The Norcal Time Trial Series aspires to make the excitement of competitive<br>
        racing events on iconic Northern California racetracks available to all <br>
        enthusiasts without the costs or risks of wheel-to-wheel racing.</p></div>
        <div class="title"><b>General Information</b><br>
        <p>The Norcal Time Trial Series will hold at least one event per month on a <br>
        truch such as Sonoma Raceway, Thunderhill Raceway, or WeatherTech<br>
        Raceway at Laguna Seca. Full safety equipment is required, and your car<br>
        must pass technical inspection before you can compete.</p></div>
      </section>
    
  </div>
</body>

</html>
   

     