<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="../asset/styles/main.css">
</head>

<body>
  <div class="container">
    <div class="nav-header">
      <h1>NorCal Time Trial Series</h1>
      <div class="buttons">
        <div class="square"><a href="home.html">Home</a></div>
        <div class="square"><a href="about.html">About</a></div>
        <div class="square"><a href="contact.html">Contact</a></div>
        <div class="square"><a href="information.html">Information</a></div>
        <div class="square"><a href="rules.html">Rules</a></div>
      </div>
    </div>
    <div class="header-container">
    </div>
    <nav class="navbar">
      <h2>Contact Us</h2>
      <div class="signup-button">
        <a href="registration.html">Sign Up!</a>
      </div>

    </nav>

    <div class="logo">
      <img src="../asset/media/logo.jpg" height="150" width="150" class="child">
    </div>
    <div class="content">
      <p> Please email us at: <a href=mailto:info@nctts.org ?subject=Reaching%20Out&body=How%20are%20you>info@nctts.org
        </a><br>
        We will reply as quickly as we can</p>
    </div>
  </div>
</body>

</html>