<!DOCTYPE html>
<html>
  
  <head>
    <title>Home</title>
    <meta charset="utf-8">
  <title>Styles Conference</title>
  <link rel="stylesheet" href="../asset/styles/main.css">
  <h1 class="title">NorCal Time Trial Series</h1>
   </head>
  <body>
    <header class="main-header">
    <nav class="nav main-nav">
      <ul>
        <li><a href="home.html">Home</a></li>
      <li><a href="about.html">About</a></li>   
      <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
    <div class="header-container">
     
      
   
    <h1 class="band-name band-name-large">Upcoming Events</h1>
</div>

    <div class="image-container">
      <img src="../asset/media/logo.jpg"width="100"
      height="100">
    </div>    
      <section class="content-section">
        <div class="content-container">
      <p>
          February 12<br>
          &nbsp; Board Meeting <br><br>
          February 25<br>
          &nbsp; Drivers Zoom Meeting <br><br>
          March 12 <br>
          &nbsp; First Event at Thunderhill!<br><br>
  
      </p>
        </div>
      </section>
    
    </body>
    

 
   
    
   
   
   
   
   

  
</html>