/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
    text-align: center;
}
.main-nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.header-container{
    background-image: url("../media/image1.jpg");
    background-size: cover;
    padding: 110px 0px;
    text-align: right;
	padding-bottom: 15px;
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
	margin:0;
    list-style: none;
}
.main-header{
	background-color: grey;
	background-image: ("/media/image2.jpg");
	background-size: cover;
	background-blend-mode: multiply;
	padding: bottom 100px;
	width: 300%; 
   
	
}
.nav li{
	display: inline;
	float: right;
}

.title {
    text-align: left;
    font-size: 36px; 
}

*{
	box-sizing: border-box;
	font-family: Raleway;
	color:rgb(44, 45, 47);
}
nav a {
	
	padding: 1mm;
	color:bisque;
	
}
nav a hover {
background-color: azure;
}
.main-nav
{
	text-align: right;
	font-size: 1.1em;
	font-weight: lighter;
	border-bottom: 1px solid gray;
	
}
.main-nav nav{
	padding: 0 5%;
	display: inline; 
    margin-left: 100px; 
}
.band-name {
	text-align: center;
	margin-bottom: 100%;
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
	color:white;
}
.content-section {
	margin: 1em;
}
.container{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 1.5em;
}
.section-header{
	font-family: Arial, Helvetica, sans-serif;
	color:black;
	text-align:left;
	font-size: 1.0em;
	padding-top: 0.0%;
	padding-bottom: 0.0%;
}
.centrar{
	margin: auto;
	width: 50%;
	padding: 10px;	
}
.image-container

{
	float:left;
	padding-right: 80px;

}

.content-container
{
	float:left;
}
.main-nav a {
font-size: 18px; 
    text-decoration: none; 
    color: black;
}
