

.image-container {
	width: 20px;
	height: 10%;
	border: 1px solid #000;
}

.img-mediana
{
	width: 500px;
	height: 500px;
}

.header-container {
	background-image: url(/asset/media/image1.jpg);
    height: 350px;
	background-size: 100% 100%;
	display:block;
}
body{
	background-color: dimgrey;
}
.navbar{
	background-color: brown;
	height: 60px;
	padding-top: 0%;
}
.navbar h2{
	color: aliceblue;
	text-align: center;
	padding-top: 10px;	
}

h1, h2, h3, h4, h5 {
	margin: 0;
	text-align: left;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
  }
.child{
	display:block;
	margin-left:auto;
	margin-right:auto;
	float:left;
	padding-top: 20px;
}

.content p{
	text-align: justify;
	padding-right: 20px;
	margin-right: 20px;
	margin-left: 20px;
    float: left;
}
.nav-header {
	text-align: right; 
	display: flex;
	justify-content: space-between;
	align-items: center;

  }

  .title{
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	flex: 1;
  }
  .square:hover {
	background-color: lightblue; /* Cambiar color de fondo cuando se pasa el ratón por encima para hacerlo más parecido a un botón */
	cursor: pointer; /* Cambiar cursor al pasar por encima para indicar que es interactivo */
  }
  .title {
	text-align: justify;
	margin-left: 20px;
	padding-left: 20px;
	margin-right: 20px;
	padding-top: 20px;
    float: left;
}
section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  }
  .buttons {
	display: flex;
  }
  
  .square {
	padding: 5px 10px;
	background-color: #ddd;
	margin-left: 10px; 
  }
  
  .square a {
	text-decoration: none;
	color: black;
  }
  .logo {
	margin-right: 20px; 
  }
  .text {
	flex: 1; 
	margin-left: 20px; 
	display: flex;
   align-items: center;
  }
  table {
	width: 100%;
	border-collapse: collapse;
	border: 3px solid black; /* Añade un borde de 3px de grosor de color negro */
  }
  th, td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
  }

  th {
	background-color: #f2f2f2;
  }
  #map-container {
	height: 400px; /* Altura del contenedor */
	width: 100%; /* Ancho del contenedor */
	margin-bottom: 20px; /* Margen inferior para separar del resto de contenido */
  }
  .signup-button {

	margin-left: 20px;
	float: right;
  }
  
  .signup-button a {
	padding: 10px 10px;
	background-color: #4CAF50; /* color de fondo */
	color: white; /* color del texto */
	text-decoration: none;
	border-radius: 5px;
  }
  
  .signup-button a:hover {
	background-color: #45a049; /* color de fondo al pasar el cursor */
  }

  .form-data{
	float:center;
	position: relative;
	max-width: 700px;
	width: 100%;
	background: #f2f2f2;
	padding: 25px;
	margin-top:50px;
	margin-left: 20px; 
  }

